ion-content {
  --background: url('/aurora-background.png') no-repeat center center / cover;
  .billuyo-logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
}